@import url('https://fonts.googleapis.com/css?family=Bree+Serif&display=swap');
body {
    background-color: #2F3061;
    font-family: 'Bree Serif', serif;
    padding: 1rem;
}
header {
    margin: 0.5rem;
    background-color: #DDDBF1;
    color: #2F3061;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
header a {
    text-decoration: none;
    color: #2F3061;
    padding-left: 0.5rem;
}
header a h1 {
    text-decoration: none;
    font-size: 2rem;
}
header nav {
    display: flex;
    font-size: 1.2rem;
    justify-content: space-around;
}
header nav a{
    padding: 0.5rem;
    color: #2F3061;
    text-decoration: none;
}
.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card {
    text-align: center;
    width: 20%;
    background-color: #343434;
    border-radius: 25px;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.card img {
    width: 70%;
    padding: 1rem;
}
.card a {
    color: #DDDBF1;
    text-decoration: none;
    font-size: 1.2rem;
}
h2 {
    text-align: center;
    font-size: 2rem;
    color: #DDDBF1;
    padding: 2rem;
    font-weight: bold;
}
.detail {
    text-align: center;
    width: auto;
    background-color: #343434;
    border-radius: 25px;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    padding: 50px;
}

main a {
    display: flex;
    justify-content: center;
    color: #B23A48;
}